{% extends 'base.html' %}
{% block titulo %} Editar Blog {% endblock %}
{% block contenido %}

Mi nombre es facundo lozano, soy de cordoba capital, Argentina.
Actualmente trabajo en un campo a 20km lejos de mi casa, en rio segundo donde la wifi no funciona
y donde la unica empresa de wifi (que funciona tan mal) no atiende a reclamos o responde "si no le gusta nuestro servicio llame a otro"
basicamente porque son el unico en el pueblo. Pude asistir a las clases del Curso Gracias a los Datos
mi web le faltan algunos detalles y que se me dificulta el sentarme a programar mas tiempo, ya que vuelvo los findes y estoy en la casa de mi abuela
con una pc diga y 100mg de wifi (vuelo con esto, en rio segundo lo maximo son 5gb)
Este es mi primera web con python y framework django con lo que aprendi en el curso de python de Coder House
Gracias por su tiempo y que dios los bendiga


{% endblock %}